<div class="wrapper">
    <div class="action">
        <select [(ngModel)] = "FilterStt">
            <option value="all">See it alllll</option>
            <option value="remembered">Remembered</option>
            <option value="not_remember">Not remember</option>
        </select>
        <input type="search" placeholder="Start seaching for a vocabulary by EN vocabulary or VN vocabulary" [(ngModel)]="searchText">
    </div><!----END Action-->
   
    <table>
        <tr>
            <th>ID</th>
            <th>EN Vocabulary</th>
            <th>VN Vocabulary</th>
            <th>Memorized</th>
            <th>Action</th>
        </tr>
        <tr *ngFor='let i of vocabularies | filterList:searchText:filterMetadata'>
            <ng-container *ngIf="filter(i.memorized)">
                <td>
                    <span [ngStyle]="{'color':i.memorized === true ? 'black' : 'red'}">{{i.id}}</span>
                </td>
                <td>
                    <span [ngStyle]="{'color':i.memorized === true ? 'black' : 'red'}">{{i.en}}</span>
                </td>
                <td>
                    <span [ngStyle]="{'color':i.memorized === true ? 'black' : 'red'}">{{i.vn}}</span>
                </td>
                <td>
                    <input type="checkbox" [(ngModel)]="i.memorized">
                </td>
                <td>
                    <button (click)='deleteVocabulary(i.id)' [ngStyle]="{'color':i.memorized === true ? 'black' : 'red'}">Remove</button>
                </td>
            </ng-container>
        </tr>
    </table>
    <p *ngIf="filterMetadata.count > 0">{{filterMetadata.count}} record found</p>
    <p *ngIf="filterMetadata.count === 0">No Matches Found</p>
</div>